.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.item1{
    grid-row: 1;    
    padding: 5px;
}
.item2{
    grid-row: 2;    
    padding: 5px;
}
.item3{
    grid-row: 3;    
    padding: 5px;
}
.field{
    margin-right: 94%;
}
.item4{
    margin-right: 94%;
}
h1{
    margin: 15%;
    font-size: 300%;
}